<h1>FITASSISTANT</h1>
<div><br>
  <ul>
    <li class="selected"><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Porfolio</a></li>
    <li><a href="#">Service</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

</div>

<div id="showRoutineOutside">
  <p class="workoutRoutines">New Workout Routine</p>

  <div id="showRoutineInside">
    <br><p class="routineName">Routine name</p>
    <input class="inputRoutineName" id="focusedInput" type="text" ><br>

    <br><p class="totalTime">Total time</p>
    <input class="inputTotalTime" id="focusedInput" type="text" ><br>

    <br><p class="skillLevel">Skill level</p>
    <input class="inputSkillLevel" id="focusedInput" type="text" ><br>

    <br><p class="type">Type</p>
    <input class="inputType" id="focusedInput" type="text" ><br>

    <br><p class="equipment">Equipment</p>
    <input class="inputEquipment" id="focusedInput" type="text" ><br>

    <br><p class="bodyPart">Body part</p>
    <input class="inputBodyPart" id="focusedInput" type="text" ><br>

    <br><p class="description">Description</p>
    <textarea class="textAreaNewRoutine" rows="1" id="textArea"></textarea>

    <a href="#" class="btn btn-registerButtom">Register</a>
    <a href="#" class="btn btn-resetButtom">Reset</a>
    <a href="#" class="btn btn-CancelButtom">Cancel</a>

    <p class="machineWorkout">Machine Workout</p>

    <div id="workoutList">
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Exercises</th>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Rest</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="info">
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="success">
          <td>4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="danger">
          <td>5</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="warning">
          <td>6</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="active">
          <td>7</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





